/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: rgb(31, 167, 144);
$secondary: #473899;
$tertiary: #4c82cc;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('http://bsnscb.com/data/out/40/39910212-coding-wallpapers.jpg');
